* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #141d2f;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 60px auto;
  padding: 0 20px;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

header h1 {
  font-size: 26px;
}

.theme-toggle {
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
}

/* LIGHT MODE (default) */
body {
	background: #f6f8ff;
	color: #222;
}

body.dark {
	background: #141d2f;
	color: #fff;
}

body.dark .card {
	background: #1e2a47;
}

body .card {
	background: #fefefe;
}


body.dark .search-bar {
	background: #1e2a47;
}

body .search-bar {
	background: #fefefe;
}

body.dark .stats {
	background: #141d2f;
}

body .stats {
	background: #f6f8ff;
}

/* SEARCH BAR */
.search-bar {
  display: flex;
  background: #1e2a47;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 25px;
}

.search-bar input {
  flex: 1;
  border: none;
  background: transparent;
  color: #fff;
  padding: 10px;
  font-size: 16px;
}

.search-bar input::placeholder {
  color: #c0c0c0;
}

.search-bar button {
  background: #0079ff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

/* CARD */
.card {
  background: #1e2a47;
  border-radius: 15px;
  padding: 30px;
}

/* PROFILE */
.profile {
  display: flex;
  gap: 25px;
}

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.info {
  flex: 1;
}

/* TOP */
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top h2 {
  font-size: 22px;
}

.top span {
  font-size: 14px;
  color: #aaa;
}

/* USERNAME + BIO */
.username {
  color: #0079ff;
  margin: 5px 0 10px;
}

.bio {
  color: #c0c0c0;
  margin-bottom: 20px;
}

/* STATS */
.stats {
  display: flex;
  justify-content: space-between;
  background: #141d2f;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.stats div {
  text-align: center;
}

.stats span {
  font-size: 12px;
  color: #aaa;
}

.stats h3 {
  margin-top: 5px;
}

/* LINKS */
.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  color: #c0c0c0;
  font-size: 14px;
}